/* css reset */

html{
    margin: 0;
    padding: 0;
    width: 99vw;
    font-family: Arial, Helvetica, sans-serif;

}

/*header section*/

header{
    background-color: rgb(44, 41, 41);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    font-family: sans-serif;
    padding: 20px;
}

/*parent, child flex positioning*/

.parent{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.child{
    padding: 15px;
    justify-content: space-around;
}

/*street art section styling */

#street-art{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#street-text{
    max-width: 25%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 0.8em;
    line-height: 1.1;
}

#street-text p{
    padding-top: 0;
}

#street-text h2{
    line-height: 0;
    padding-bottom: 0;
}

#street-art img{
    width: 400px;
    height: auto;
}

/*lorem-section styling */

#lorem-section{
    margin-top: 20px;
    color: lightslategray;
    width: 100%;
    align-items: center;
}

#lorem-section .child{
    box-sizing: border-box;
    padding: 25px;
    font-size: 0.8em;
    line-height: 2;
}

#lorem-section img{
    width: 200px;
    height: auto;;
}