/* CSS Reset */

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: margin-box;
}

/* Grid Styling */

#parent-section-2, #parent-section-3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

/*image Styling */

#child-2-section-2 img{
    width: 300px;
    height: auto;
}

.child-section-3 img{
    width: 200px;
    height: auto;
}

/* Other Styling */

header{
    background-color: rgb(27, 25, 25);
    color: white;
    width: 100%;
    height: 150px;
    font-size: 1.6em;
    margin-bottom: 10px;
    display: grid;
    justify-content: center;
}

#child-1-section-2, #child-2-section-2, .child-section-3{
    margin: 15px;
    font-size: 0.8em;
    max-width: 400px;
}

#child-1-section-2{
    display: grid;
    justify-content: center;
}

#child-1-section-2 p{
    max-width: 350px;
}

.child-section-3{
    line-height: 2;
    color: grey;
    max-width: 250px;
    margin-top: 15px;
}

/*responsiveness */

@media only screen and (min-width: 800px){
    #child-1-section-2{
        justify-self: end;
    }
    
    #child-2-section-2{
        justify-self: start;
    }

    #child-2-section-2 img{
        width: 400px;
        height: auto;
    }
}